.tab a {
    border-radius: 10px;
    background-color: #F88;
    font-size: 2.0em;
    color: #800;
    padding: 0 15px;
}

.tab.active > a {
    color: #000;
}

/* Change the twit feed */

.tweets ul {
    padding: 0;
}

.tweets li {
    list-style-type: none;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0.5em;
    display: block;
    height: 150px;
    max-width: 500px;
}

.tweets .tweet {
    display: inline-block;
    float: left;
    width: 70%;
    text-align: left;
}

.tweets a {
    color: #f00;
}

.tweets .user span span {
    display: none;
}

.tweets .user {
    border-bottom: 2px solid black;
    text-align: left;
}

.tweets .interact a {
    margin: -2px 0px;
    float: right;
    font-size: 0.8em;
    display: block;
    clear: right;
}

.tweets .timePosted {
    display: block;
    float: right;
    width: 18%;
    clear: right;
    font-size: 0.6em;
    text-align: right;
}