{% extends 'layout.html' %}
{% block body %}

<div class="row">
  <div class="col-md-12">

<h1>Press Mentions</h1>
<p><a href="http://www.seattlemet.com/eat-and-drink/nosh-pit/articles/13-new-food-trucks-seattles-been-waiting-for-august-2014">
  Seattle Met: 13 New Food Trucks Seattle's Been Waiting For
</a></p>

<p><a href="http://www.yelp.com/weekly_yelp/WCzVNu2vTe_717AR3yGIBA">
  The Weekly Yelp: Seattle's Food Truck Frenzy
</a></p>


<h1>FAQ</h1>
<h2>What's a jianbing and how do you pronounce it?</h2>
<p>"Gee-n-bing" Jianbing... are just jianbing. They're just these tasty Chinese pancake/crepe/burritos you get from street vendors in China. We call them bing for short.</p>

<h2>Where do you set up?</h2>
<p>Around Seattle. Please check out Twitter (@bingoffire) or Weibo for the latest news.</p>

<h2>Why'd you get into this?</h2>
<p>Because I enjoy eating it myself. I'm not a special snowflake, so surely other people enjoy jianbing too.</p>
<p>Nobody in Seattle was really making it. I've seen it on some menus in restaurants, but it's not the same as getting it from a cart.</p>

<h2>Are you Chinese?</h2>
<p>Nope. I just enjoy Chinese food. I did spend some time in China, teaching English, traveling, and eating. Lots of eating.</p>

<h2>And the name?</h2>
<p>We were listening to Johnny Cash, trying to think up names for the cart.</p>

  </div>
</div>
{% endblock %}
{% block scripts %}
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
{% endblock %}