{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="text-center content-column">
        <div class="content-chunk">
            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=300&amp;wkst=2&amp;bgcolor=%23660000&amp;src=6kk9goosdcge2j43j0ut0ef5b4%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="480" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
{% endblock %}