<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bing Of Fire</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- My css -->
    <link href='css/site.css' rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Seattle's best jianbing</h1>
        {% macro tab(text, path) -%}
        <span class="tab {% if page.path == path %}active{% endif %}">
          <a href="{{path}}">{{text}}</a>
        </span>
        {%- endmacro %}
        {{ tab('Home', '/') }}
        {{ tab('Menu', 'menu_en') }}
        {{ tab('中文', 'menu_cn') }}
        {{ tab('About', 'about') }}
        {{ tab('Blog', 'https://bingoffire.wordpress.com/')}}
        <div style="vertical-align: bottom">
          <a href="http://weibo.com/seattlejianbing">
            <img style="vertical-align: bottom" height="32" width="32" src="/static/img/weibo64.png"/>
          </a>
          <a href="https://twitter.com/bingoffire">
            <img style="vertical-align: bottom" height="32" width="32" src="/static/img/twitter.png"/>
          </a>
          <a href="https://www.facebook.com/BingofFire">
            <img style="vertical-align: bottom" height="32" width="32" src="/static/img/fb.png"/>
          </a>
          <a href="mailto:bingoffire@gmail.com">
            <span style="font-size: 32px;" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </a>
          <a href="https://www.google.com/calendar/embed?src=6kk9goosdcge2j43j0ut0ef5b4%40group.calendar.google.com&ctz=America/Los_Angeles">
            <span style="font-size: 32px;" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      {% block body %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
